/* body{

} */

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.container{
    max-width: 950px;
    background-color: red;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message{
    background-color: white;
    width: 24%;
    padding: 10px;
    margin: 5px 12px;
    border-radius: 10px;
}

.left{
    position: relative;
    float: left;
    clear: both;
    background-color: #A8DDFD;
}

.right{
    position: relative;
    float: right;
    clear: both;
    background-color: #f8e896;
}

.right::after,
.left::after {
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
}

.right::after {
    border-top: 15px solid #f8e896;
    right: -15px;
}

.left::after {
    border-top: 15px solid #A8DDFD;
    left: -15px;
}

.center {
    font-size: 15px;
    clear: both;
    margin: 10px auto;
    height: 5px;
    text-align: center;
    line-height: 5px;
}

.message-timestamp {
    font-size: 0.8em;
    text-align: end;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp{
    width: 91%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 20%;
}